@import "app/globals.scss";


.main{
    position: relative;
    width: 100%;
    height: 100%;

    .loading-container{
        position: relative;
        width: 100%;
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .MainBanner-container{
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: max-content;

        .AboutWISH-container{
            position: relative;
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: space-between;
            padding : 50px 0;
            background-color: #000;

            .AboutWISH-section{
                width: 100%;
                height: 100%;
                display: flex;
                padding : 0 0 0 6.25rem;
            
                .AboutWISH-titleBox{
                    flex : 4;
                    height: 100%;

                    .AboutWISH-index{
                        width: 100%;
                        margin-bottom: 3rem;

                        span{
                            font-size: 1.3rem;
                            font-family: $Raleway-font;
                            line-height: 3rem;
                            font-weight: bold;
                            text-transform: uppercase;
                            color: #fff;
                        }
                    }

                    .AboutWISH-title{
                        width: 80%;
                        margin-bottom: 3rem;

                        h1{
                            width: 100%;
                            font-size: 2.2rem;
                            font-family: $Pacifico-font;
                            font-weight: 100;
                            word-break: keep-all;
                            color: #fff;
                        }
                    }

                    .AboutWISH-info{
                        width: 20rem;
                        height: 50%;
                        display: flex;
                        align-items: center;

                        p{
                            font-size: 1.3rem;
                            color: #fff;
                            font-family: $Raleway-font;
                        }
                    }
                }

                .AboutWISH-solutions{
                    flex : 6;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap : 50px;
                    place-items: center;

                    .solutions-item{
                        width: 22rem;
                        height: 20rem;
                        text-align: center;
                        cursor: default;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        .solution-icon{
                            width: 100%;
                            height: 6rem;
                            margin-bottom: 2rem;
                        }

                        .solution-content{
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            align-items: center;
                            width: 100%;
                            height: 12rem;

                            .solution-title{
                                width: 80%;
                                height: 3rem;

                                h1{
                                    font-size: 1.2rem;
                                    font-family: $Raleway-font;
                                    text-transform: uppercase;
                                    text-align: center;
                                    color: #fff;
                                }
                            }

                            .solution-info{
                                width: 80%;
                                height: 6rem;

                                p{
                                    width: 100%;
                                    font-size: 15px;
                                    font-family: $Noto-Korean;
                                    word-break: keep-all;
                                    color: #fff;
                                }
                            }

                        }
                    }
                }
            }
        }

        .AboutSeason-container{
            position: relative;
            width: 100%;
            height: 100vh;
            padding : 50px 6.25rem;
            background-color: #000;

            .Season-content{
                position: relative;
                width: 100%;
                height: 150px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 10rem;

                .Season-title{
                    width: 100%;
                    padding: 0 50px;

                    h1{
                        font-size: 3rem;
                        font-family: $Pacifico-font;
                        line-height: 10rem;
                        color: #fff;
                    }
                }

                .Season-info{
                        width: 40rem;
                        padding: 0 50px;

                    p{
                        width: 100%;
                        word-break: keep-all;
                        font-family: $Raleway-font;
                        font-size: 1.3rem;
                        color: #fff;
                    }
                }
            }

            .Season-typeBox{
                position: relative;
                width: 100%;
                height: max-content;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 100px;
                place-items: center;

                .Season-item{
                    width: 100%;
                    height: 100%;
                    text-align: center;

                    .Season-icon{
                        width: 100%;
                        text-align: center;
                        line-height: 10rem;
                    }

                    .Season-state{
                        width: 100%;
                        color: #fff;
                        text-transform: uppercase;

                        .Season-name{

                            h2{
                                font-family: $Raleway-font;
                                font-size: 1.2rem;
                                line-height: 5rem;
                                color: #fff;
                            }
                        }

                        .Season-date{

                            p{
                            font-family: $Raleway-font;
                            font-size: 1rem;
                            line-height: 5rem;
                            color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}