@import "app/globals.scss";

.Banner-container{
    position : relative;
    width : 100%;
    height: 45rem;

    .Introduce-Box{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 70%;
        padding : 3rem 2rem;
        z-index: 10;

        .Static-Welcome{
            position: relative;
            width : 100%;
            height: 8rem;
            text-align: center;

            h1{
                font-size: 3rem;
                text-transform: uppercase;
                font-family: $Raleway-font;
                font-weight: 100;
                color: #fff;
                line-height: 8rem;
            }
        }

        .Introduce-content{
            position: relative;
            width: 80%;
            height: 8rem;
            padding: 0 5rem;
            display: flex;

            .Dynamic-content{
                flex: 4;
                position: relative;
                height: 8rem;
                overflow: hidden;

                .content-bracket{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    span{
                        font-size: 2.5rem;
                        font-family: $Raleway-font;
                        line-height: 8rem;
                        color: #fff;
                    }
                }

                ul{
                    position: absolute;
                    top: 0;
                    width: max-content;
                    height: 100%;
                    left: 50%;
                    transform: translateX(-50%);

                    li{
                        display: block;
                        position: relative;
                        top: 0;
                        width: 100%;
                        text-align: center;

                        h2{
                            font-size: 2.5rem;
                            line-height: 8rem;
                            text-transform: uppercase;
                            font-family: $Raleway-font;
                            font-weight: bold;
                            color: #fff;
                        }
                    }
                }
            }

            .Static-content{
                flex: 6;
                text-align: center;
    
                h2{
                    font-family: $Raleway-font;
                    font-size: 2.5rem;
                    text-transform: uppercase;
                    line-height: 8rem;
                    font-weight: 100;
                    color: #fff;
                }
            }
        }
    }

    .Banner-ImgBox{
        position: absolute;
        width: 100%;
        right: 0;
        bottom: 0;
        height: 100%;

        &::before{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            content: '';
            background-color: rgba($color: #000000, $alpha: 0.5);
        }

        video{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .rotate-scroll{
        position: absolute;
        bottom: 2rem;
        left: 50%;
        transform: translateX(-50%);
        width: 200px;
        height: 200px;

        .scroll-text{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50% ,-50%);
            width: max-content;

            span{
                font-size: 1rem;
                color: #fff;
                text-transform: uppercase;
                font-family: $Pacifico-font;
                font-weight: bold;
            }
        }

        img{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: fit-content;
            animation: rotateScroll 6s linear infinite;
        }

        @keyframes rotateScroll {
            100%{
                transform: translate(-50%, -50%) rotate(360deg) ;
            }
        }
    }
}

@media screen and (max-width : 1440px) {
    .Banner-container{
    
        .Introduce-Box{
    
            .Static-Welcome{
    
                h1{
                    font-size: 3rem;
                }
            }
    
            .Introduce-content{
                position: relative;
                width: 80%;
                height: 8rem;
                padding: 0 5rem;
                display: flex;
    
                .Dynamic-content{
    
                    .content-bracket{
    
                        span{
                            font-size: 3rem;
                        }
                    }
    
                    ul{
    
                        li{
    
                            h2{
                                font-size: 2.5rem;
                            }
                        }
                    }
                }
    
                .Static-content{
                    flex: 6;
                    text-align: center;
        
                    h2{
                        font-family: $Raleway-font;
                        font-size: 3rem;
                        text-transform: uppercase;
                        line-height: 8rem;
                        font-weight: 100;
                        color: #fff;
                    }
                }
            }
        }
    
        .rotate-scroll{
            position: absolute;
            bottom: 2rem;
            left: 50%;
            transform: translateX(-50%);
            width: 150px;
            height: 150px;
    
            .scroll-text{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50% ,-50%);
                width: max-content;
    
                span{
                    font-size: 1rem;
                    color: #fff;
                    text-transform: uppercase;
                    font-family: $Pacifico-font;
                    font-weight: bold;
                }
            }
    
            img{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                max-width: fit-content;
                animation: rotateScroll 6s linear infinite;
            }
        }
    }
}