@import "app/globals.scss";

.Banner-container{
    position : relative;
    width : 100%;
    height: 45rem;
    overflow: hidden;

    .slide-wrap{
        position: relative;
        display: inline-flex;
        width: 100%;
        height: 100%;

        /* swiper slide pagination 영역 커스텀 디자인 */
        .swiper-pagination-horizontal{
            width: 18rem;
            left: 50%;
            transform: translateX(-50%);
            bottom: 6.25rem;
        }

        .swiper-pagination{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .swiper-pagination-bullet{
            width: 5rem;
            height: 10px;
            opacity: 0.4;
            background-color: #fff;
            border-radius: 0;
            margin : 0 0;
        }

        .swiper-pagination-bullet-active{
            opacity: 1;
            background-color: #fff;
        }

        /* slide arrow button 커스텀 */
        .slide-control{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            padding: 0 2rem;
            width: 100%;
            height: 3rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 10;

            .slide-prev{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 3rem;
                height: 3rem;
                font-size: 1.2rem;
                color: #fff;
                cursor: pointer;
            }

            .slide-next{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 3rem;
                height: 3rem;
                font-size: 1.2rem;
                color: #fff;
                cursor: pointer;
            }
        }

        .slide-item{
            position: relative;
            width: 100%;
            height: 100%;

            .slide-imgBox{
                position: relative;
                width: 100%;
                height: 100%;

                img{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                &::before{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    content: '';
                    background: linear-gradient(178deg, rgba(0, 0, 0, 0.08) 1.36%, rgba(0, 0, 0, 0.80) 98.66%);
                    z-index: 1;
                }
            }

            .slide-infoBox{
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: 10rem;
                width: 800px;
                height: 14rem;
                z-index: 10;
                transition: all 1s ease-out;
        
                .slide-title{
                    width: 100%;
                    font-family: $Noto-Korean;
                    margin-bottom: 2rem;
                    text-align :center;
        
                    h1{
                        line-height: 6.25rem;
                        font-size: 1.8rem;
                        font-weight: 500;
                        color: #fff;
                    }
                }
        
                .slide-info{
                    width: 100%;
                    font-family: $Noto-Korean;
                    text-align: center;
        
                    p{
                        font-size: 1.1rem;
                        font-weight: 300;
                        color: #fff;
                        line-height: 5rem;
                    }
        
                    
                }
            }
        }
    }
}

/*맥북 반응형*/
@media screen and (min-width : 1440px) and (max-width : 1900px){
    .Banner-container{
        position : relative;
        width : 100%;
        height: 40rem;
        overflow: hidden;
    
        .slide-wrap{
            position: relative;
            display: inline-flex;
            width: 100%;
            height: 100%;
    
            /* swiper slide pagination 영역 커스텀 디자인 */
            .swiper-pagination-horizontal{
                width: 18rem;
                left: 50%;
                transform: translateX(-50%);
                bottom: 6.25rem;
            }
    
            .swiper-pagination{
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
    
            .swiper-pagination-bullet{
                width: 5rem;
                height: 10px;
                opacity: 0.4;
                background-color: #fff;
                border-radius: 0;
                margin : 0 0;
            }
    
            .swiper-pagination-bullet-active{
                opacity: 1;
                background-color: #fff;
            }

                    /* slide arrow button 커스텀 */
        .slide-control{
            display: none;
        }
    
            .slide-item{
    
                .slide-infoBox{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 800px;
                    height: 14rem;
                    z-index: 10;
                    transition: all 1s ease-out;
            
                    .slide-title{
                        width: 100%;
                        font-family: $Noto-Korean;
                        margin-bottom: 2rem;
                        text-align :center;
            
                        h1{
                            line-height: 6.25rem;
                            font-size: 1.5rem;
                            font-weight: 500;
                            color: #fff;
                        }
                    }
            
                    .slide-info{
                        width: 100%;
                        font-family: $Noto-Korean;
                        text-align: center;
            
                        p{
                            font-size: 1rem;
                            font-weight: 300;
                            color: #fff;
                            line-height: 5rem;
                        }
            
                        
                    }
                }
            }
        }
    }
}

/*모바일 ~ 소형 테블릿 반응형*/
@media screen and (min-width : 360px) and (max-width : 768px){
    .Banner-container{
        height: 32rem;
    
        .slide-wrap{
    
            /* swiper slide pagination 영역 커스텀 디자인 */
            .swiper-pagination-horizontal{
                width: 12rem;
                bottom: 3rem;
            }

            .swiper-pagination-bullet{
                width: 3rem;
                height: 8px;
                opacity: 0.4;
                background-color: #fff;
                border-radius: 0;
                margin : 0 0;
            }

            .swiper-pagination-bullet-active{
                opacity: 1;
                background-color: #fff;
            }
    
            /* slide arrow button 커스텀 */
            .slide-control{
                display: none;
            }
    
            .slide-item{
    
                .slide-infoBox{
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translate(0, -50%);
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
            
                    .slide-title{
            
                        h1{
                            font-size: 1rem;
                        }
                    }
            
                    .slide-info{
                        width: 60%;
                        height: 5rem;
                        font-family: $Noto-Korean;
            
                        p{
                            font-size: 13px;
                            font-weight: 300;
                            color: #fff;
                            line-height: 2rem;
                            text-align: center;
                            word-break: keep-all;
                        }
                    }
                }
            }
        }
    }
}