@import "app/globals.scss";

.ClothesPeed-container{
    position: relative;
    width: 100%;
    height: max-content;
    padding : 3.125rem 6.25rem;

    .ClothesPeed-titleBox{
        position: relative;
        width : 100%;
        margin-bottom: 3rem;

        .ClothesPeed-title{
            width: 100%;
            font-size: 2rem;
            text-transform: uppercase;
            font-family: $Raleway-font;
            line-height: 5rem;
            text-align: center;
        }

        .ClothesPeed-info{
            width: 100%;
            font-size: 15px;
            font-family: $Noto-Korean;
            text-align: center;
            line-height: 3rem;
        }
    }
    .slider-wrap{
        position: relative;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        place-items: center;
        gap : 2rem;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        .product-item{
            position: relative;
            width: 100%;
            height: 100%;
            
            .slide-ImgBox{
                display: block;
                width: 100%;
                height: 70%;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .product-content{
                display: block;
                width: 100%;
                height: 30%;
                font-family: $Noto-Korean;

                .product-title{
                    display: flex;
                    align-items: center;
                    width: 80%;
                    height: 4rem;
                    font-size: 13px;
                    word-break: keep-all;
                    font-weight: 400;
                }

                .product-mall{
                    width: 100%;
                    font-size: 13px;
                    line-height: 2rem;
                    text-transform: uppercase;
                    font-weight: 400;
                }

                .product-price{
                    width: 100%;
                    font-size: 1rem;
                    font-weight: bold;
                    line-height: 3rem;
                    font-family: $Noto-Korean;
                }
            }
        }
    }

    .viewMore-container{
        position: relative;
        width: 100%;
        height: 3rem;
        margin: 2rem 0;
    }

    .viewMore-button{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 20rem;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #000;
        cursor: pointer;

        span{
            font-family: $Raleway-font;
            font-weight: bold;
            color: #fff;
            text-transform: uppercase;
        }

        &.remove{
            display: none;
        }
    }

    .loading-spinner{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: max-content;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}