@import "../app/globals.scss";
@import "styles/ResponseMixin/_mixin";

.error-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    z-index: 1200;

    .modal-inner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 35rem;
        height: 18rem;
        padding: 0 2rem;
        background-color: rgb(255, 255, 255);
        border: 2px solid #000;

        .error-icon {
            width: 5rem;
            height: 5rem;

            svg {
                width: 100%;
                height: 100%;
                color: #970303;
            }
        }

        .modal-cont {
            width: 22rem;
            height: 12rem;
            font-family: $Jamsil-font;

            .message {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                width: 100%;
                height: 6rem;

                h1 {
                    width: 100%;
                    word-break: keep-all;
                    font-weight: bold;
                    font-size: 16px;
                    color: #970303;
                }
            }

            button {
                margin-top: 3rem;
                width: 100%;
                height: 3rem;
                background-color: transparent;
                border: 1px solid #000;
                font-family: $Jamsil-font;
                color: #000;
                font-weight: bold;
                text-align: center;
                line-height: 3rem;
                transition: all 0.3s ease-in-out;
                cursor: pointer;

                &:hover {
                    background-color: #000;
                    color: #fff;
                }
            }
        }
    }
}

@include mobile {
    .error-modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(10px);
        z-index: 1200;
    
        .modal-inner {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 20rem;
            height: 12rem;
            padding: 0 1rem;
            background-color: rgb(255, 255, 255);
            border: 2px solid #000;
    
            .error-icon {
                width: 3rem;
                height: 3rem;
            }
    
            .modal-cont {
                width: 12rem;
                height: 10rem;
                font-family: $Jamsil-font;
    
                .message {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    width: 100%;
                    height: 5.5rem;
    
                    h1 {
                        width: 100%;
                        word-break: keep-all;
                        font-weight: bold;
                        font-size: 14px;
                        color: #970303;
                    }
                }
    
                button {
                    margin-top: 2rem;
                    height: 2.5rem;
                    font-family: $Jamsil-font;
                    color: #000;
                    font-weight: bold;
                    text-align: center;
                    line-height: 2.5rem;
                    transition: all 0.3s ease-in-out;
                    cursor: pointer;
                }
            }
        }
    }
}