@import "app/globals.scss";

.MainPage-Board{
    position: relative;
    width: 100%;
    height: max-content;
    padding : 2rem 6.25rem 6.25rem 6.25rem;

    .Notice-container{
        position: relative;
        width: 100%;
        height: 5rem;
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgb(220, 220, 220);

            .Notice-titleBox{
                position: relative;
                top: 0;
                left: 0;
                width: 30%;
                height: 5rem;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .Notice-title{
                    line-height: 5rem;
                    font-family: $Raleway-font;
                    font-size: 1.5rem;
                    text-transform: uppercase;
                }
            }

            .Notice-slider{
                position: relative;
                width: 50%;
                height: 5rem;
                z-index: 100;
                overflow: hidden;
                margin-left : 5rem;

                .loader{
                    position: absolute;
                    top : 0;
                    width: 100%;
                    height: 5rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: transparent;
                }

                .list-slider{
                    position: absolute;
                    top : 0;
                    width: 100%;
                    height: 25rem;

                    li{
                        position: relative;
                        width: 100%;
                        height: 5rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        a{
                            width: 100%;
                            height: max-content;
                            font-family: $Noto-Korean;

                            &:hover h2{
                                text-decoration: underline;
                            }

                            h2{
                                display: inline-block;
                                font-size: 14px;
                                font-weight: bold;

                                &:hover{
                                    text-decoration: underline;
                                }
                            }

                            span{
                                position: absolute;
                                display: inline-block;
                                right: 0;
                                font-weight: bold;
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
        }

    .Megazine-container{
        position: relative;
        width: 100%;
        height: 30rem;
        display: flex;
        align-items: center;
        margin-top: 2rem;

        .Megazine-titleBox{
            width: 30%;
            height: 100%;

            .Megazine-title{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                h1{
                    font-family: $Raleway-font;
                    font-size: 1.5rem;
                    text-transform: uppercase;
                }

                .view-more{
                    font-size: 1.2rem;
                }
            }

            .Megazine-list{
                position: relative;
                width: 100%;
                margin-top: 3rem;
                
                li{
                    width: max-content;
                    line-height: 5rem;

                    a{
                        font-size: 1.2rem;
                        font-family: $Raleway-font;
                        text-transform: uppercase;
                        font-weight: 500;

                        &.active{
                            font-weight: bold;
                        }
                    }
                }
            }
        }

        .Megazine-slideBox{
            position: relative;
            width: 65%;
            height: 100%;
            overflow: hidden;
            margin-left : 5rem;

            .slide-control{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                width: 100%;
                height: max-content;
                display: flex;
                justify-content: space-between;
                align-items: center;
                z-index: 10;
    
                .slide-before{
                    display: block;
                    border: none;
                    background-color: rgba($color: #fff, $alpha: 0.8);
                    width: 3rem;
                    font-size: 2rem;
                    text-align: center;
                    line-height: 5rem;
                    cursor: pointer;
                }
    
                .slide-next{
                    display: block;
                    border: none;
                    background-color: rgba($color: #fff, $alpha: 0.8);
                    width: 3rem;
                    font-size: 2rem;
                    text-align: center;
                    line-height: 5rem;
                    cursor: pointer;
                }
            }

            .Megazine-slider{
                position: absolute;
                top: 0;
                left: 0;
                width: max-content;
                height: 100%;

                .Megazine-Card{
                    display: inline-block;
                    margin-right: 40px;
                    position: relative;
                    width: 300px;
                    height: 100%;

                    .item-imgBox{
                        position: relative;
                        width: 100%;
                        height: 19rem;
                        overflow: hidden;

                        img{
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .item-infoBox{
                        width: 100%;
                        height: max-content;

                        .item-title{
                            width: 100%;
                            line-height: 2rem;
                            margin-top: 1rem;
                            font-size: 15px;
                            font-family: $Noto-Korean;
                        }

                        .item-info{
                            width: 100%;
                            height: 3rem;
                            margin-top: 1rem;

                            p{
                                width: 80%;
                                font-size: 12px;
                                font-family: $Noto-Korean;
                                color: rgb(109, 109, 109);
                            }
                        }
                    }

                    .Megazine-publisher{
                        position: relative;
                        width: 100%;
                        height: 3rem;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        border-top : 1px solid rgb(176, 176, 176);
                        margin-top: 1rem;

                        span{
                            font-size: 15px;
                            font-family: $Noto-Korean;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}