@import "app/globals.scss";

.MainPage-Board{
    position: relative;
    width: 70%;
    height: 45rem;
    padding : 2rem 0 0 0;

    .Notice-container{
        position: relative;
        width: 100%;
        height: 5rem;

        .Notice-board{
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .Notice-titleBox{
                width: 20%;

                .Notice-title{
                    line-height: 5rem;
                    font-family: $Raleway-font;
                    font-size: 1.5rem;
                    text-transform: uppercase;
                }
            }

            .Notice-slider{
                position: relative;
                width: 80%;
                height: 5rem;
                z-index: 100;
                overflow: hidden;

                .loader{
                    position: absolute;
                    top : 0;
                    width: 100%;
                    height: 5rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #fff;
                }

                .list-slider{
                    position: absolute;
                    top : 0;
                    width: 100%;
                    height: 25rem;

                    li{
                        position: relative;
                        width: 100%;
                        height: 5rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        a{
                            width: 100%;
                            height: max-content;
                            font-family: $Noto-Korean;
                            color : #000;

                            &:hover h2{
                                text-decoration: underline;
                            }

                            h2{
                                display: inline-block;
                                font-size: 14px;
                                font-weight: bold;
                                color: #000;

                                &:hover{
                                    text-decoration: underline;
                                }
                            }

                            span{
                                position: absolute;
                                display: inline-block;
                                right: 0;
                                font-weight: bold;
                                color: #000;
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
        }
    }

    .Megazine-container{
        position: relative;
        width: 100%;
        height: 33rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 2rem;

        .slide-control{
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            height: max-content;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .slide-before{
                display: block;
                border: none;
                background-color: transparent;
                width: max-content;
                font-size: 3rem;
                text-align: center;
                line-height: 5rem;
                cursor: pointer;
                color: rgb(165, 165, 165);
            }

            .slide-next{
                display: block;
                border: none;
                background-color: transparent;
                width: max-content;
                font-size: 3rem;
                text-align: center;
                line-height: 5rem;
                cursor: pointer;
                color: rgb(165, 165, 165);
            }
        }

        .Megazine-titleBox{
            width: 100%;
            height: 5rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .Megazine-title{
                font-family: $Raleway-font;
                font-size: 1.5rem;
                text-transform: uppercase;
            }

            .view-more{
                font-size: 1.2rem;
            }
        }

        .Megazine-slideBox{
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            width: calc(300px * 3 + 80px);
            height: 26rem;
            overflow: hidden;

            .Megazine-slider{
                position: absolute;
                top: 0;
                left: 0;
                width: max-content;
                height: 100%;

                .Megazine-Card{
                    display: inline-block;
                    margin-right: 40px;
                    position: relative;
                    width: 300px;
                    height: 100%;

                    .item-imgBox{
                        position: relative;
                        width: 100%;
                        height: 15rem;
                        border-radius: 10px;
                        overflow: hidden;

                        img{
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .item-infoBox{
                        width: 100%;
                        height: max-content;

                        .item-title{
                            width: 100%;
                            line-height: 2rem;
                            margin-top: 1rem;
                            font-size: 15px;
                            font-family: $Noto-Korean;
                        }

                        .item-info{
                            width: 100%;
                            height: 3rem;
                            margin-top: 1rem;

                            p{
                                width: 80%;
                                font-size: 12px;
                                font-family: $Noto-Korean;
                                color: rgb(109, 109, 109);
                            }
                        }
                    }

                    .Megazine-publisher{
                        position: relative;
                        width: 100%;
                        height: 3rem;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        border-top : 1px solid rgb(176, 176, 176);
                        margin-top: 1rem;

                        span{
                            font-size: 15px;
                            font-family: $Noto-Korean;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}