@use "tokens" as *;
@use "mixin" as *;

.alert-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    z-index: 1200;

    .modal-inner {
        position: absolute;
        top: 50%;
        width: 650px;
        padding: 20px 50px 50px;
        background-color: #fff;
        box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        overflow: hidden;

        .modal-header {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            height: 50px;

            .close-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50px;
                height: 50px;
                border: none;
                background-color: transparent;
                color: #fff;
                font-size: 40px;
            }
        }

        .modal-cont {
            margin: 0 auto;
            width: 80%;
            min-height: 280px;
            font-family: $Jamsil-font;

                .title-box {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 20px;
                    width: 100%;

                    .title-icon {
                        width: 50px;
                        height: 50px;
                    }

                    .title {
                        font-size: 24px;
                        font-weight: bold;
                    }

                    &.danger {
                        .title-icon {
                            color: #AA1414;
                        }
                        .title {
                            color: #AA1414;
                        }
                    }


                    &.success {
                        .title-icon {
                            color: var(--colorMain);
                        }
                        .title {
                            color: var(--colorMain);
                        }
                    }
                }

                .content-box {
                    margin-top: 40px;

                    .desc {
                        width: 80%;
                        margin: 0 auto;
                        word-break: keep-all;
                        font-size: 16px;
                        color: #2d2d2d;
                        text-align: center;
                    }

                    .signup-link {
                        display: block;
                        margin: 20px auto 0;
                        background-color: transparent;
                        border: none;
                        font-size: 12px;
                        text-underline-offset: 4px;
                        font-weight: bold;
                        text-decoration: underline;
                        color: #5d5d5d;
                    }
                }
        }

        .btn-wrap {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 50px;
            display: flex;

            .login-btn {
                flex: 1;
                background-color: var(--colorMain);
                font-family: $Jamsil-font;
                color: #fff;
                border: none;
                font-weight: bold;
                text-align: center;
                line-height: 40px;
                transition: all 0.3s ease-in-out;
                cursor: pointer;
            }

            .close-btn {
                flex: 1;
                background-color: #d5d5d5;
                border: none;
                font-family: $Jamsil-font;
                color: #5d5d5d;
                font-weight: bold;
                text-align: center;
                line-height: 40px;
                transition: all 0.3s ease-in-out;
                cursor: pointer;
            }  
        }
    }
}

@include mobile {
    .error-modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(10px);
        z-index: 1200;
    
        .modal-inner {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 20rem;
            height: 12rem;
            padding: 0 1rem;
            background-color: rgb(255, 255, 255);
            border: 2px solid #000;
    
            .error-icon {
                width: 3rem;
                height: 3rem;
            }
    
            .modal-cont {
                width: 12rem;
                height: 10rem;
                font-family: $Jamsil-font;
    
                .message {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    width: 100%;
                    height: 5.5rem;
    
                    h1 {
                        width: 100%;
                        word-break: keep-all;
                        font-weight: bold;
                        font-size: 14px;
                        color: #970303;
                    }
                }
    
                button {
                    margin-top: 2rem;
                    height: 2.5rem;
                    font-family: $Jamsil-font;
                    color: #000;
                    font-weight: bold;
                    text-align: center;
                    line-height: 2.5rem;
                    transition: all 0.3s ease-in-out;
                    cursor: pointer;
                }
            }
        }
    }
}