@import "app/globals.scss";

.Navbar-container{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 10rem;
    z-index: 1100;
    background-color: #fff;

    .Main-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 5rem;
        padding : 0 0 0 150px;
        opacity: 1;
        transition: all 0.5s ease-in;

        .logo{
            position: relative;
            width: 20rem;
            display: flex;
            align-items: center;
            justify-content: center;
        
            a{
                font-size: 1.8rem;
                font-family: $Raleway-font;
                text-transform: uppercase;
                line-height: 5rem;
                font-weight: 500;
            }
        }

        .login-menu{
            position: relative;
            width: 20rem;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        
            .login-button{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                color: #fff;
                width: 5rem;
                height: 3rem;
                font-family: $Raleway-font;
                font-weight: bold;
                font-size: 12px;
                text-transform: uppercase;
                cursor: pointer;
                text-align: center;

                .icon{
                    font-size: 1.5rem;
                }
            }
        
            .signUp-button{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                width: 5rem;
                height: 3rem;
                font-family: $Raleway-font;
                font-weight: bold;
                font-size: 12px;
                text-transform: uppercase;
                cursor: pointer;
                text-align: center;

                .icon{
                    font-size: 1.5rem;
                }
            }
        
            .user-name{
                display: block;
                width: 10rem;
                line-height: 2rem;
                font-size: 12px;
                font-family: $Noto-Korean;
                color: #000;
                font-weight: bold;
                text-align: center;
                    
                &:hover{
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        
            .user-profile{
                position: relative;
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 50%;
                overflow: hidden;

                img{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .Responsive-menuBox{
            display: none;
        }
    }

    .Sub-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 5rem;
        padding : 0 0 0 150px;

        .mode-button{
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 8rem;
            height: 2rem;
            cursor: pointer;
            margin-left : 6rem;

            .light-mode{
                width: 4rem;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 2rem;
                background-color: #fff;
                transition: all 0.5s ease-out;

                svg{
                    color: #000;
                }

                &#active{
                    background-color: #000;
                    transition: all 0.5s ease-in;

                    svg{
                        color: #fff;
                    }
                }
            }

            .dark-mode{
                width: 4rem;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 2rem;
                transition: all 0.5s ease-out;

                &#active{
                    background-color: #000;
                    color: #fff;
                    transition: all 0.5s ease-in;
                }
            }
        }

        .Navbar-menu{
            position: relative;
            width: 40rem;
        
            li{
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 25%;
                height: 3rem;
        
                a{
                    width: max-content;
                    font-family: $Raleway-font;
                    font-size: 13px;
                    font-weight: bold;
                    text-transform: uppercase;
                }
            }
        }
    }
}

/*맥북 반응형*/
@media screen and (max-width : 1440px){
    .Navbar-container{

        .Main-nav{
            padding : 0 2rem;
        }
    
        .Sub-nav{
            padding : 0 2rem;
    
            .Navbar-menu{
                position: relative;
                width: 40rem;
            
                li{
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    width: 25%;
                    height: 3rem;
            
                    a{
                        width: max-content;
                        font-family: $Raleway-font;
                        font-size: 13px;
                        font-weight: bold;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}

/*모바일 ~ 소형 테블릿 반응형*/
@media screen and (max-width : 768px){
    .Navbar-container{
        height : 5rem;
    
        .Main-nav{
    
            .logo{
                width: 8rem;

                a{
                    font-size: 1.5rem;
                    font-weight: 600;
                }
            }
    
            .login-menu{
                display: none;
            }
            
            .Responsive-menuBox{
                width: 100px;
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .Responsive-button{
                    width: 30px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.2rem;
                    cursor: pointer;
                }

                .Search-button{
                    width: 30px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.2rem;
                    cursor: pointer;
                }
            }
        }
    
        .Sub-nav{
            display: none;
        }
    }
}