@import "../app/globals.scss";
@import "./ResponseMixin/mixin";

.wrap{
    position: relative;
    max-width: 1450px;
    height: 100%;
    margin: 0 auto;

    /*Notice Board Main Page Css*/
    .notice-container{
        width: 100%;
        height: max-content;
        margin: 5rem 0;

        .notice-table{
            position: relative;
            width: 100%;
            font-family: $Jamsil-font;
            height: 100%;

            .loader{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: transparent;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .border-table{
                width: 100%;
                height: 100%;

                table{
                    display: table;
                    width: 100%;
                    border-collapse: collapse;
            
                    thead{
                        border-bottom: 1px solid #000;
                        border-top: 1px solid #000;
                        background-color: var(--colorMain);
                        color: #fff;
                    }
                    
                    th{
                        padding: 1.5rem 0;
    
                        &:first-child{
                            width: 60%;
                            h1{
                                text-align: center;
                            }
                        }
    
                        h1{
                            font-size: 1rem;
                            text-align: center;
                        }
                    }
                    
                    tbody{
                        tr {
                            width: 100%;
                            height: 65px;

                            td{
                                padding : 1.5rem 0;
                                text-align: center;
                                font-size: 15px;
            
                                &:first-child{
                                    text-align: center;
                                    font-weight: bold;
                                    cursor: pointer;

                                    &:hover{
                                        span{
                                            color: #ff6565;
                                            transition: all 0.1s ease-in;
                                        }
                                    }
                                }
            
                                &:nth-child(2){
                                    width: 15%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@include mobile {
    .wrap{
        max-width: 100%;
        height: 100%;
        margin: 0;
    
        /*Notice Board Main Page Css*/
        .notice-container{
            width: 100%;
            height: max-content;
            
            .notice-table{
                .border-table{
                    width: 100%;
                    height: 100%;
    
                    table{
        
                        th{

                            &:nth-child(1) {
                                width: 50%;
                            }
        
                            h1{
                                font-size: 12px;
                                text-align: center;
                            }
                        }
                        
                        tbody{
    
                            tr {
    
                                td{
                                    font-size: 12px;
                
                                    &:first-child{
                                        width: 50%;
                                        text-align: start;
                                        font-weight: bold;
                                        cursor: pointer;
                                        padding-left: 1rem;
    
                                        &:hover{
                                            span{
                                                color: #000;
                                                transition: none;
                                            }
                                        }
                                    }
                
                                    &:nth-child(2){
                                        width: 35%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@include macbook {
    .wrap{
        position: relative;
        max-width: 100%;
        height: 100%;
        margin: 0;
        padding: 0 5rem;
    }
}