@import "../app/globals.scss";

.wrap{
    position: relative;
    width: 100%;
    height: 100%;

    /*Notice Board Main Page Css*/
    .NoticePage-container{
        width: 100%;
        height: max-content;

        .Notice-header{
            position: relative;
            width: 100%;
            height: 5rem;
            margin : 5rem 0 2rem 0;
            padding : 0 10rem;

            .Notice-title{
                position: relative;
                width: 100%;
                height: 5rem;
    
                h1{
                    width: 100%;
                    line-height: 5rem;
                    font-size: 2rem;
                    font-family: $Noto-Korean;
                    text-align: center;
                }
            }

            .AddNotice-button{
                position: absolute;
                top : 50%;
                right : 10rem;
                width: max-content;
                height: 3rem;
                transform: translateY(-50%);

                a{
                    display: block;
                    line-height: 3rem;
                    width: 10rem;
                    font-size: 1rem;
                    font-family: $Noto-Korean;
                    text-align: center;
                    font-weight: bold;
                }
            }
        }

        .Notice-table{
            position: relative;
            width: 100%;
            padding : 3rem 10rem;

            .loader{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: transparent;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .border-table{
                width: 100%;
                height: 100%;
                border-radius: 10px;
                overflow: hidden;

                table{
                    display: table;
                    width: 100%;
                    border-collapse: collapse;
                    border-style: hidden;
            
                    thead{
                        &.darkMode{
                            background-color: rgba($color: #9a9a9a, $alpha: 0.2);

                            tr{
                                th{
                                    h1{
                                        color: #fff;
                                    }
                                }
                            }
                        }
                        &.lightMode{
                            background-color: rgba($color: #000000, $alpha: 0.7);

                            tr{
                                th{
                                    h1{
                                        color: rgba($color: #fff, $alpha: 0.9);
                                    }
                                }
                            }
                        }
                    }
                    
                    th{
                        padding: 1.5rem 0;
    
                        &:first-child{
                            width: 50%;
                            h1{
                                text-align: center;
                            }
                        }
    
                        h1{
                            font-family: $Noto-Korean;
                            font-size: 1rem;
                            text-align: center;
                        }
                    }
                    
                    tbody{
    
                            tr {
                                width: 100%;

                                &.darkMode{
                                    &:hover{
                                        background-color: rgba($color: #bdbdbd, $alpha: 0.4);
                                        transition: all 0.5s ease-in;
                                        cursor: pointer;
        
                                        td{
                                            span{
                                                color: #fff;
                                            }
                                        }
                                    }
                                }

                                &.lightMode{
                                    &:hover{
                                        background-color: rgba($color: #000000, $alpha: 0.4);
                                        transition: all 0.5s ease-in;
                                        cursor: pointer;
        
                                        td{
                                            span{
                                                color: #fff;
                                            }
                                        }
                                    }
                                }
    
                                td{
                                    padding : 1.5rem 0;
                                    text-align: center;
                                    font-family: $Noto-Korean;
                                    font-size: 15px;
                
                                    &:first-child{
                                        text-align: center;
                                        font-weight: bold;
                                    }
                
                                    &:nth-child(2){
                                        width: 15%;
                                    }
                                }
                            }
                    }
                }
            }
        }
    }

    /*Main page Notice Board pagenation Css*/
    .pagenation-container{
        position: relative;
        width: 100%;
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin : 2rem 0;

        .pagenation{
            width: max-content;

            li{
                display: inline-block;
                width: 3rem;
                text-align: center;
                line-height: 2rem;

                a{
                    font-family: $Noto-Korean;
                    font-weight: 400;
                    font-size: 1rem;

                    &.active{
                        font-weight: bold;
                    }
                }
            }
        }
    }

    /*공지사항 등록 addNotice Page css*/
    .addNotice-container{
        position: relative;
        width: 100%;
        height: 100%;
        padding : 2rem 6.25rem 5rem 6.25rem;

        .addNotice-titleBox{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 5rem;
            border-bottom: 2px solid #8e8e8e;

            .addNotice-title{
                width: 10rem;
                height: 5rem;
                line-height: 5rem;
                font-size: 1.5rem;
                font-family: $Noto-Korean;
            }

            .NoticeList-button{
                position: relative;
                width: max-content;
                height: 2rem;

                a{
                        display: block;
                        line-height: 2.5rem;
                        width: 8rem;
                        font-size: 15px;
                        font-family: $Noto-Korean;
                        text-align: center;
                        font-weight: bold;
                        transition: all 0.5s ease-out;
                        color: #fff;
                }
            }
        }

        .addNotice-Form{
            width: 100%;
            height: 40rem;
            padding-top: 2rem;

            .form-header{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                height: 5rem;
                margin-bottom: 2rem;

                .header-title{
                    width: 20rem;
                    height: 5rem;
                    line-height: 5rem;
                    font-family: $Noto-Korean;
                    font-size: 1.5rem;
                }

                .submit-button{
                    width: max-content;
                    height: 3rem;

                    button{
                        border: none;
                        width: 8rem;
                        line-height: 3rem;
                        font-family: $Noto-Korean;
                        font-weight: bold;
                        font-size: 1rem;
                        cursor: pointer;
                        color: #fff;
                    }
                }
            }

            .form-Field{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                height: 33rem;

                .essential-Field{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    width: 65%;
                    height: 100%;

                    .title-input{
                        width: 100%;
                        line-height: 2.5rem;
                        font-size: 1rem;
                        font-family: $Noto-Korean;
                        padding: 0.5rem 1rem;
                        background-color: transparent;
                        border-style: none;
                        border-bottom: 1px solid #6b6b6b;

                        &:focus{
                            outline: none;
                        }
                    }

                    .textInfo-area{
                        width: 100%;
                        height: 28rem;
                        font-size: 1rem;
                        padding : 1rem;
                        font-family: $Noto-Korean;
                        resize: none;
                        background-color: transparent;
                        border : 1px solid #6b6b6b;
                    }
                }

                .image-wrapper{
                    width: 30%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .preview-image{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 70%;
                        background-color: transparent;
                        font-family: $Noto-Korean;
                        font-weight: bold;
                        font-size: 1rem;

                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: scale-down;
                        }
                    }

                    .error-Message{
                        width: 100%;
                        text-align: center;
                        line-height: 2rem;
                        color: rgb(243, 75, 75);
                        font-family: $Raleway-font;
                        font-weight: bold;
                    }

                    .upload-button{

                        h1{
                            display: block;
                            width: 100%;
                            line-height: 3rem;
                            text-align: center;
                            font-family: $Noto-Korean;
                            font-size: 1rem;
                            cursor: pointer;
                            color: #fff;
                        }
                    }

                    input{
                        display: none;
                    }
                }
            }
        }
    }

    /*공지사항 view page css*/
    .currentNotice-container{
        position: relative;
        width: 100%;
        height: 100%;
        padding : 2rem 6.25rem 5rem 6.25rem;

        .current-header{
            position: relative;
            width: 80%;
            left: 50%;
            transform: translateX(-50%);
            height: 5rem;

            .currentHeader-title{
                width: 100%;
                line-height: 5rem;
                font-size: 1rem;
                font-family: $Noto-Korean;
                font-weight: 500;
            }
        }

        .current-NoticeBoard{
            position: relative;
            left : 50%;
            transform: translateX(-50%);
            width: 80%;
            height: 60rem;
            padding : 0 0 2rem 0;

            .currentBoard-title{
                width: 100%;
                font-size: 1.3rem;
                font-family: $Noto-Korean;
                line-height: 5rem;
                height: 5rem;
                border-bottom: 1px solid #666666;
            }

            .currentBoard-info{
                width: 100%;
                height: 5rem;

                .currentBoard-writer{
                    display: inline-block;
                    width: 10rem;
                    margin-right: 2rem;
                    font-size: 1rem;
                    font-family: $Noto-Korean;
                    line-height: 5rem;
                    height: 5rem;
                }

                .currentBoard-date{
                    display: inline-block;
                    width: 10rem;
                    font-size: 1rem;
                    font-family: $Noto-Korean;
                    line-height: 5rem;
                    height: 5rem;
                }
            }

            .currentBoard-text{
                width: 100%;
                padding : 2rem 0 5rem 0;

                p{
                    font-size: 1rem;
                    font-family: $Noto-Korean;
                }
            }

            .upload-imageBox{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;

                .upload-image{
                    width: max-content;
                    height: 30rem;
                    overflow: hidden;

                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }

        .currentNotice-button{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 6rem;
            margin-top: 2rem;

            .NoticeList-button{
                width: max-content;
                height: 2rem;

                a{
                        display: block;
                        line-height: 2rem;
                        width: 8rem;
                        font-size: 15px;
                        font-family: $Noto-Korean;
                        border: 1px solid #CDCDCD;
                        background-color: transparent;
                        text-align: center;
                        font-weight: bold;
                        transition: all 0.5s ease-out;

                        &:hover{
                            background-color: #959595;
                            color: #fff;
                            transition: all 0.5s ease-in;
                        }
                }
            }

            .Notice-shortCut{
                width: max-content;
                height: 100%;

                .next-Notice{
                    width: 100%;

                    span{
                        display: inline-block;
                        width: 10rem;
                        line-height: 3rem;
                        font-size: 14px;
                        font-family: $Noto-Korean;
                    }

                    .nextNotice-title{
                        display: inline-block;
                        width: max-content;
                        line-height: 3rem;
                        font-size: 14px;
                        font-family: $Noto-Korean;
                        font-weight: bold;

                        &:hover{
                            cursor: pointer;
                            text-decoration: underline;
                        }
                    }
                }

                .before-Notice{
                    width: 100%;

                    span{
                        display: inline-block;
                        width: 10rem;
                        line-height: 3rem;
                        font-size: 14px;
                        font-family: $Noto-Korean;
                    }

                    .beforeNotice-title{
                        display: inline-block;
                        width: max-content;
                        line-height: 3rem;
                        font-size: 14px;
                        font-family: $Noto-Korean;
                        font-weight: bold;

                        &:hover{
                            cursor: pointer;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width : 768px){
    .wrap{
        /*Notice Board Main Page Css*/
        .NoticePage-container{
            width: 100%;
            height: max-content;

            .Notice-header{
                position: relative;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                height: 5rem;
                margin : 2rem 0 1rem 0;
                padding : 0 1rem;
    
                .Notice-title{
                    position: relative;
                    width: 70%;
                    height: 5rem;
        
                    h1{
                        width: 100%;
                        line-height: 5rem;
                        font-size: 1.2rem;
                        font-family: $Noto-Korean;
                        text-align: start;
                    }
                }
    
                .AddNotice-button{
                    position: relative;
                    top: 0;
                    right: 0;
                    width: 6rem;
                    height: 2.5rem;
                    transform: translateY(0);
    
                    a{
                        display: block;
                        line-height: 2.5rem;
                        width: 100%;
                        font-size: 10px;
                        font-family: $Noto-Korean;
                        text-align: center;
                        font-weight: bold;
                    }
                }
            }

            .Notice-table{
                position: relative;
                width: 100%;
                padding : 1rem 0    ;

                .border-table{
                    width: 100%;
                    height: 100%;
                    border-radius: 0px;
                    overflow: hidden;
    
                    table{
                        display: table;
                        width: 100%;
                        border-collapse: collapse;
                        border-style: hidden;
                
                        thead{
                            &.darkMode{
                                background-color: rgba($color: #7f7f7f, $alpha: 0.3);
    
                                tr{
                                    th{
                                        h1{
                                            color: rgba(255,255,255,0.7);
                                        }
                                    }
                                }
                            }
                        }
                        
                        th{
                            padding: 1.5rem 0;
        
                            &:first-child{
                                width: 50%;
                            }

                            &:nth-child(3){
                                width: 20%;
                            }
        
                            h1{
                                font-family: $Noto-Korean;
                                font-size: 9px;
                                text-align: center;
                            }
                        }
                        
                        tbody{
        
                                tr {
                                    width: 100%;
        
                                    td{
                                        padding : 1.5rem 0;
                                        text-align: center;
                                        font-family: $Noto-Korean;
                                        font-size: 9px;
                    
                                        &:first-child{
                                            padding: 0 1rem;
                                            text-align: start;
                                            font-weight: bold;
                                        }
                    
                                        &:nth-child(2){
                                            width: max-content;
                                        }
                                    }
                                }
                        }
                    }
                }
            }
        }

    /*공지사항 등록 addNotice Page css*/
    .addNotice-container{
        position: relative;
        width: 100%;
        height: 100%;
        padding : 2rem;

        .addNotice-titleBox{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 5rem;
            border-bottom: 2px solid #8e8e8e;

            .addNotice-title{
                font-size: 1rem;
            }

            .NoticeList-button{

                a{
                        line-height: 2rem;
                        width: 6rem;
                        font-size: 12px;
                }
            }
        }

        .addNotice-Form{
            width: 100%;
            height: 52rem;
            padding-top: 2rem;

            .form-header{

                .header-title{
                    width: 15rem;
                    font-size: 1rem;
                }

                .submit-button{
                    height: 2rem;

                    button{
                        width: 6rem;
                        line-height: 2rem;
                        font-size: 12px;
                    }
                }
            }

            .form-Field{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                height: 42rem;

                .essential-Field{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    height: 20rem;

                    .title-input{
                        width: 100%;
                        line-height: 2rem;
                        font-size: 12px;
                        font-family: $Noto-Korean;
                        padding: 0.5rem 1rem;
                        background-color: transparent;
                        border-style: none;
                        border-bottom: 1px solid #6b6b6b;

                        &:focus{
                            outline: none;
                        }
                    }

                    .textInfo-area{
                        width: 100%;
                        height: 15rem;
                        font-size: 12px;
                    }
                }

                .image-wrapper{
                    width: 100%;
                    height: 20rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .preview-image{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 70%;
                        background-color: transparent;
                        font-family: $Noto-Korean;
                        font-weight: bold;
                        font-size: 1rem;

                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: scale-down;
                        }
                    }

                    .error-Message{
                        width: 100%;
                        text-align: center;
                        line-height: 2rem;
                        color: rgb(243, 75, 75);
                        font-family: $Raleway-font;
                        font-weight: bold;
                    }

                    .upload-button{

                        h1{
                            line-height: 2.5rem;
                            font-size: 12px;
                        }
                    }

                    input{
                        display: none;
                    }
                }
            }
        }
    }

        /*공지사항 view page css*/
        .currentNotice-container{
            position: relative;
            width: 100%;
            height: 100%;
            padding : 2rem;

            .current-header{
                position: relative;
                width: 100%;
                height: 5rem;

                .currentHeader-title{
                    width: 100%;
                    line-height: 5rem;
                    font-size: 13px;
                    font-family: $Noto-Korean;
                    font-weight: 500;
                }
            }

            .current-NoticeBoard{
                position: relative;
                left : 50%;
                transform: translateX(-50%);
                width: 100%;
                height: 40rem;
                padding : 0 0 2rem 0;

                .currentBoard-title{
                    width: 100%;
                    font-size: 15px;
                    font-family: $Noto-Korean;
                    line-height: 2rem;
                    height: 4rem;
                    border-bottom: 1px solid #666666;
                }

                .currentBoard-info{
                    width: 100%;
                    height: 5rem;

                    .currentBoard-writer{
                        display: inline-block;
                        width: 50%;
                        margin-right: 0;
                        font-size: 13px;
                    }

                    .currentBoard-date{
                        display: inline-block;
                        width: 50%;
                        font-size: 13px;
                        text-align: end;
                    }
                }

                .currentBoard-text{
                    width: 100%;
                    padding : 2rem 0 5rem 0;

                    p{
                        font-size: 13px;
                        font-family: $Noto-Korean;
                    }
                }

                .upload-imageBox{
                    width: 100%;

                    .upload-image{
                        width: max-content;
                        height: 100%;
                        overflow: hidden;
                    }
                }
            }

            .currentNotice-button{
                flex-direction: column;
                width: 100%;
                height: 10rem;
                margin-top: 2rem;

                .NoticeList-button{
                    width: max-content;
                    height: 2rem;

                    a{
                            display: block;
                            line-height: 2rem;
                            width: 8rem;
                            font-size: 15px;
                            font-family: $Noto-Korean;
                            border: 1px solid #CDCDCD;
                            background-color: transparent;
                            text-align: center;
                            font-weight: bold;
                            transition: all 0.5s ease-out;

                            &:hover{
                                background-color: #959595;
                                color: #fff;
                                transition: all 0.5s ease-in;
                            }
                    }
                }

                .Notice-shortCut{
                    width: 100%;
                    height: 6rem;

                    .next-Notice{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        span{
                            display: inline-block;
                            width: max-content;
                            font-size: 12px;
                        }

                        .nextNotice-title{
                            display: inline-block;
                            width: max-content;
                            font-size: 12px;

                            &:hover{
                                text-decoration: none;
                            }
                        }
                    }

                    .before-Notice{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        span{
                            display: inline-block;
                            width: max-content;
                            font-size: 12px;
                        }

                        .beforeNotice-title{
                            font-size: 12px;
                            font-family: $Noto-Korean;
                            font-weight: bold;

                            &:hover{
                                cursor: pointer;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
    }
}