@import 'app/globals.scss';

.MainPeed-container{
    position: relative;
    display: inline-block;
    width: 100%;
    height: max-content;

    .MainPeed-wrapper{
        width: 100%;
        height: 100%;

        .Notice-wrapper{
            width: 100%;
            padding : 0 6.25rem;
            height: max-content;
            display: flex;
            justify-content: space-between;
        }

        .Peed-wrapper{
            width: 100%;
            height: max-content;
        }
    }
}