@import "app/globals.scss";

.register-container {
    position: relative;
    width: 100%;
    height: 100%;

    .register-wrap {
        margin: 0 auto;
        max-width: 1400px;
        height: 100%;
        padding: 100px 0;

        .register-title {
            position: relative;
            width: 100%;
            height: 100px;
            margin-bottom: 50px;

            &::before {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 2px;
                content: '';
                background-color: #d7d7d7;
            }

            .txt {
                width: max-content;
                font-size: 26px;
                text-transform: uppercase;
                line-height: 100px;
                text-align: center;
                color: var(--colorMain);

                &::before {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    content: '';
                    width: 20%;
                    background-color: var(--colorMain);
                    height: 10px;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                }
            }
        }

        // 회원 개인정보 입력 필드 폼
        .info-form{
            position: relative;
            width: 100%;
            height: max-content;

            .form-title{
                width: 100%;
                margin-bottom: 50px;

                h1{
                    line-height: 5rem;
                    font-size: 20px;
                }
            }

            .form-input{
                width: 100%;
                display: flex;
                gap: 20px;
                margin-bottom: 30px;

                // 입력 필드명
                .field-title {
                    width: 300px;
                    max-height: 35px;
                    font-size: 16px;
                    font-weight: bold;
                    line-height: 35px;

                    &.required {
                        &::after {
                            display: inline-block;
                            content: '*';
                            color: rgb(209, 53, 53);
                            margin-left: 8px;
                        }
                    }
                }

                // 입력 필드 input 요소 & 버튼 wrapper
                .field-item {
                    position: relative;
                    width: calc(100% - 320px);
                    min-height: 83px;
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;
                    gap: 20px;

                    .field-input {
                        width: 100%;

                        input{
                            position: relative;
                            width: 100%;
                            padding: 10px 20px;
                            font-size: 14px;
                            border: 1px solid #d7d7d7;
                            border-radius: 8px;
                            max-height: 35px;
    
                            &:focus{
                                outline: none;
                                border: 1px solid rgb(0, 0, 0);
                            }
                        }

                        .Valid-errorTxt{
                            position: relative;
                            width: 60%;
    
                            h1{
                                font-size: 12px;
                                font-family: $Noto-Korean;
                                color: rgb(209, 53, 53);
                                line-height: 3rem;
                            }
                        }
                    }

                    &.id {
                        .field-input {
                            width: calc(100% - 120px);
                        }
                    }

                    &.email {
                        .field-input {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start !important;
                            width: calc(100% - 397px);

                            .input-wrap {
                                width: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;

                                .id {
                                    width: 220px;
                                    height: 100%;
                                }
        
                                .domain {
                                    width: 397px;
                                    height: 100%;
                                }
                            }
                        }
                    }

                    .domain-select {
                        width: 397px;
                        height: 35px;

                        select {
                            width: 100%;
                            height: 100%;
                            border: 1px solid #d7d7d7;
                            padding: 0 20px 0 0;
                        }
                    }

                    .duplicate-check {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width : 100px;
                        height: 35px;
                        border: 1px solid #D7D7D7;
                        background-color: #fff;
                        color: #666;
                        border-radius: 10px;
                        font-family: $Noto-Korean;
                        font-size: 13px;
                        font-weight: bold;
                        cursor: pointer;
                        transition : all 0.3s ease-in;
    
                        &:hover {
                            background-color: #000;
                            transition: all 0.3s ease-in;
                            color: #fff;
                        }
                    }
                }

                .duplicate-button{
                    display: block;
                    width: 8rem;
                    height: 2.5rem;
                    font-size: 1rem;
                    font-family: $Noto-Korean;
                    background-color: #000;
                    border: none;
                    color: #fff;
                    font-weight: bold;
                    cursor: pointer;
                }
            }
        }

                // 회원 개인정보 입력 필드 폼
                .info-form {
                    position: relative;
                    width: 100%;
                    height: max-content;
        
                    .form-title{
                        width: 100%;
                        margin-bottom: 50px;
        
                        h1{
                            line-height: 5rem;
                            font-size: 20px;
                        }
                    }
        
                    .form-input{
                        width: 100%;
                        display: flex;
                        gap: 20px;
                        margin-bottom: 30px;
        
                        // 입력 필드명
                        .field-title {
                            width: 300px;
                            max-height: 35px;
                            font-size: 16px;
                            font-weight: bold;
                            line-height: 35px;
        
                            &.required {
                                &::after {
                                    display: inline-block;
                                    content: '*';
                                    color: rgb(209, 53, 53);
                                    margin-left: 8px;
                                }
                            }
                        }
        
                        // 입력 필드 input 요소 & 버튼 wrapper
                        .field-item {
                            position: relative;
                            width: calc(100% - 320px);
                            min-height: 83px;
                            display: flex;
                            align-items: flex-start;
                            justify-content: center;
                            gap: 20px;
        
                            .field-input {
                                width: 100%;
        
                                input{
                                    position: relative;
                                    width: 100%;
                                    padding: 10px 20px;
                                    font-size: 14px;
                                    border: 1px solid #d7d7d7;
                                    border-radius: 8px;
                                    max-height: 35px;
            
                                    &:focus{
                                        outline: none;
                                        border: 1px solid rgb(0, 0, 0);
                                    }
                                }
        
                                .Valid-errorTxt{
                                    position: relative;
                                    width: 60%;
            
                                    h1{
                                        font-size: 12px;
                                        font-family: $Noto-Korean;
                                        color: rgb(209, 53, 53);
                                        line-height: 3rem;
                                    }
                                }
                            }
        
                            &.id {
                                .field-input {
                                    width: calc(100% - 120px);
                                }
                            }
        
                            .domain-select {
                                width: 397px;
                                height: 35px;
        
                                select {
                                    width: 100%;
                                    height: 100%;
                                    border: 1px solid #d7d7d7;
                                    padding: 0 20px 0 0;
                                }
                            }
                        }
        
                        .duplicate-button{
                            display: block;
                            width: 8rem;
                            height: 2.5rem;
                            font-size: 1rem;
                            font-family: $Noto-Korean;
                            background-color: #000;
                            border: none;
                            color: #fff;
                            font-weight: bold;
                            cursor: pointer;
                        }
                    }
                }

        // 회원 개인정보 입력 필드 폼
        .profile-form {
            position: relative;
            width: 100%;
            height: max-content;

            .form-title{
                width: 100%;
                margin-bottom: 50px;

                h1{
                    line-height: 5rem;
                    font-size: 20px;
                }
            }

            .inner-wrap {
                display: flex;
                gap: 50px;
                align-items: flex-start;

                .upload-image {
                    width: 170px;
    
                    .upload-input {
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        height: 227px;
                        border: 2px dashed #d7d7d7;
                        padding: 1rem 0;
                        cursor: pointer;
                        overflow: hidden;
    
                        img {
                            position: absolute;
                            top : 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
    
                        .image-icon {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 50px;
                            color: #d7d7d7;
                            font-size: 2rem;
                        }
    
                        .upload-text {
                            width: 80%;
                            margin-top: 1rem;
                            text-align: center;

                            p {
                                font-size: 16px;
                                color: #333;
                                font-weight: bold;
                                margin-bottom: 10px;
                            }
    
                            span {
                                font-size: 12px;
                                color: #ff3434;
                                font-weight: 500;
                            }
                        }
                    }

                    .upload-btn {
                        display: block;
                        width: 100%;
                        text-align: center;
                        line-height: 34px;
                        border: 1px solid #d7d7d7;
                        background: transparent;
                        color: #333;
                        margin-top: 20px;
                        font-weight: bold;
                        transition: all 0.2s ease-in;

                        &:hover {
                            background-color: #000;
                            color: #fff;
                        }
                    }
    
                    input {
                        display: none;
                    }
                }

                .input-box {
                    width: calc(100% - 220px);

                    .form-input{
                        width: 100%;
                        display: flex;
                        gap: 20px;
                        margin-bottom: 30px;
        
                        // 입력 필드명
                        .field-title {
                            width: 300px;
                            max-height: 35px;
                            font-size: 16px;
                            font-weight: bold;
                            line-height: 35px;
        
                            &.required {
                                &::after {
                                    display: inline-block;
                                    content: '*';
                                    color: rgb(209, 53, 53);
                                    margin-left: 8px;
                                }
                            }
                        }
        
                        // 입력 필드 input 요소 & 버튼 wrapper
                        .field-item {
                            position: relative;
                            width: calc(100% - 320px);
                            min-height: 83px;
                            display: flex;
                            align-items: flex-start;
                            justify-content: center;
                            gap: 20px;
        
                            .field-input {
                                width: 100%;
        
                                input{
                                    position: relative;
                                    width: 100%;
                                    padding: 10px 20px;
                                    font-size: 14px;
                                    border: 1px solid #d7d7d7;
                                    border-radius: 8px;
                                    max-height: 35px;
            
                                    &:focus{
                                        outline: none;
                                        border: 1px solid rgb(0, 0, 0);
                                    }
                                }
        
                                .Valid-errorTxt{
                                    position: relative;
                                    width: 60%;
            
                                    h1{
                                        font-size: 12px;
                                        font-family: $Noto-Korean;
                                        color: rgb(209, 53, 53);
                                        line-height: 3rem;
                                    }
                                }
                            }
        
                            &.id {
                                .field-input {
                                    width: calc(100% - 120px);
                                }
                            }
        
                            .duplicate-check {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width : 100px;
                                height: 35px;
                                border: 1px solid #D7D7D7;
                                background-color: #fff;
                                color: #666;
                                border-radius: 10px;
                                font-family: $Noto-Korean;
                                font-size: 13px;
                                font-weight: bold;
                                cursor: pointer;
                                transition : all 0.3s ease-in;
            
                                &:hover {
                                    background-color: #000;
                                    transition: all 0.3s ease-in;
                                    color: #fff;
                                }
                            }
                        }
        
                        .duplicate-button{
                            display: block;
                            width: 8rem;
                            height: 2.5rem;
                            font-size: 1rem;
                            font-family: $Noto-Korean;
                            background-color: #000;
                            border: none;
                            color: #fff;
                            font-weight: bold;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        .form-footer {
            width: 100%;
            margin-top: 5rem;

            .agree-form {
                .agree-guide {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .desc {
                        font-size: 14px;
                        color: #333;
                    }

                    .select-all {
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        input {
                            width: 14px;
                            height: 14px;
                            border: 1px solid #333;
                        }

                        label {
                            font-size: 14px;
                            cursor: pointer;
                        }
                    }
                }

                .agree-list {
                    margin-top: 30px;
                    .agree-menu {
                        margin: 10px 0;
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        input {
                            width: 14px;
                            height: 14px;
                            border: 1px solid #333;
                        }

                        label {
                            font-size: 14px;
                            cursor: pointer;
                        }
                    }
                }
            }

            .btn-wrap {
                display: flex;
                align-items: center;
                gap: 20px;
                width: max-content;
                margin: 50px auto 0 auto;

                button {
                    padding: 20px 80px;
                    font-size: 16px;
                    font-weight: 500;
                    text-align: center;
                    color: #fff;
                    border: none;
                }

                .sign-button {
                    background-color: var(--colorMain);
                }

                .list-button {
                    background-color: #000;
                }
            }
        }
    }
}

@media screen and (max-width : 768px){
    .register-container{
        position: relative;
        width: 100%;
        height: 100%;
    
        .register-wrap{
            position: relative;
            left : 0;
            transform: translateX(0);
            width: 100%;
            height: 100%;
            padding: 2rem 0 5rem 0;
    
            .register-titleBox{
                margin-bottom: 2rem;
    
                .register-title{
                    font-size: 1.2rem;
                }
    
                .register-subTitle{
                    font-size: 12px;
                }
            }
    
            .register-form{
                position: relative;
                width: 100%;
                height: max-content;
                padding: 0 1rem;
    
                .registerForm-title{
    
                    h1{
                        font-size: 1rem;
                    }
                }
    
                .input-id{
    
                    label{
                        width: 20%;
                        font-size: 12px;
                    }
    
                    .username-inputBox{
                        position: relative;
                        width: 65%;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center;
                        padding: 0 1rem;
    
                        input{
                            width: 90%;
                            font-size: 13px;

                        }
    
                        .Valid-errorTxt{
                            position: relative;
                            width: 90%;
    
                            h1{
                                font-size: 9px;
                                font-family: $Noto-Korean;
                                color: rgb(209, 53, 53);
                                line-height: 3rem;
                            }
                        }
                    }
    
                    .idCheck-button {
                        width : 15%;
                        background-color: #000;
                        border-radius: 0;
                        font-size: 10px;
    
                        &:hover {
                            background-color: #000;
                        }
                    }
                }
    
                .input-password{
    
                    label{
                        width: 20%;
                        font-size: 12px;
                    }
    
                    .password-InputBox{
                        position: relative;
                        width: 80%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        padding: 0 1rem;
    
                        input{
                            width: 100%;
                            font-size: 12px;
                        }
    
                        .Valid-errorTxt{
                            position: relative;
                            width: 100%;
    
                            h1{
                                font-size: 9px;
                                font-family: $Noto-Korean;
                                color: rgb(209, 53, 53);
                                line-height: 3rem;
                            }
                        }
                    }
                }
    
                .input-email{
    
                    label{
                        width: 20%;
                        font-size: 12px;
                    }
    
                    .email-inputBox{
                        position: relative;
                        width: 80%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        padding: 0 1rem;
    
                        input{
                            width: 100%;
                            font-size: 13px;
                        }
    
                        .Valid-errorTxt{
                            position: relative;
                            width: 100%;
        
                            h1{
                                font-size: 9px;
                                font-family: $Noto-Korean;
                                color: rgb(209, 53, 53);
                                line-height: 3rem;
                            }
                        }
                    }
                }
    
                .signup-button{
                    background-color: #000;
                    font-size: 1rem;
                    border-radius: 0px;
                    margin-top: 3rem;
                }
            }
        }
    }
}