@import "app/globals.scss";

.register-container {
    position: relative;
    width: 100%;
    height: 100%;

    .register-wrap {
        margin: 0 auto;
        max-width: 1400px;
        height: 100%;
        padding: 100px 0;

        .register-title {
            position: relative;
            width: 100%;
            height: 100px;
            margin-bottom: 50px;

            &::before {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 2px;
                content: '';
                background-color: #d7d7d7;
            }

            .txt {
                width: max-content;
                font-size: 26px;
                text-transform: uppercase;
                line-height: 100px;
                text-align: center;
                color: var(--colorMain);

                &::before {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    content: '';
                    width: 20%;
                    background-color: var(--colorMain);
                    height: 10px;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                }
            }
        }

        // 회원 개인정보 입력 필드 폼
        .info-form{
            position: relative;
            width: 100%;
            height: max-content;

            // 입력 필드 대제목
            .form-title{
                width: 100%;
                margin-bottom: 50px;

                h1{
                    line-height: 5rem;
                    font-size: 20px;
                }
            }

            // 입력 필드 wrapper
            .form-input{
                width: 100%;
                display: flex;
                gap: 20px;
                margin-bottom: 30px;

                // 입력 필드명
                .field-title {
                    width: 300px;
                    max-height: 35px;
                    font-size: 16px;
                    font-weight: bold;
                    line-height: 35px;

                    &.required {
                        &::after {
                            display: inline-block;
                            content: '*';
                            color: rgb(209, 53, 53);
                            margin-left: 8px;
                        }
                    }
                }

                // 입력 필드 input 요소 & 버튼 wrapper
                .field-item {
                    position: relative;
                    width: calc(100% - 320px);
                    min-height: 83px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 20px;

                    .field-input {
                        display: flex;
                        align-items: center;
                        width: 100%;

                        // 입력 input 공통 스타일 적용
                        input{
                            position: relative;
                            width: 100%;
                            padding: 10px 20px;
                            font-size: 14px;
                            border: 1px solid #d7d7d7;
                            border-radius: 8px;
                            max-height: 35px;
    
                            &:focus{
                                outline: none;
                                border: 1px solid rgb(0, 0, 0);
                            }
                        }

                        &.email {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            width: 100%;

                            .input-wrap {
                                width: calc(100% - 417px);
                                display: flex;
                                align-items: center;
                                justify-content: space-between;

                                .id {
                                    width: 30%;
                                    height: 100%;
                                }
        
                                .domain {
                                    width: 60%;
                                    height: 100%;
                                }
                            }

                            .domain-select {
                                width: 397px;
                                height: 35px;
        
                                select {
                                    width: 100%;
                                    height: 100%;
                                    border: 1px solid #d7d7d7;
                                    padding: 0 20px 0 0;
                                }
                            }
                        }
                    }

                    .Valid-errorTxt{
                        position: relative;
                        width: 100%;
                        height: 25px;

                        h1{
                            font-size: 13px;
                            font-family: $Noto-Korean;
                            color: rgb(209, 53, 53);
                            line-height: 135%;
                        }
                    }

                    &.id {
                        .field-input {
                            width: calc(100% - 120px);
                        }
                    }
                }
            }
        }

        // 회원 개인정보 입력 필드 폼
        .profile-form {
            position: relative;
            width: 100%;
            height: max-content;

            .form-title{
                width: 100%;
                margin-bottom: 50px;

                h1{
                    line-height: 5rem;
                    font-size: 20px;
                }
            }

            .inner-wrap {
                display: flex;
                gap: 50px;
                align-items: flex-start;

                .upload-image {
                    position: relative;
                    width: 170px;
    
                    .upload-input {
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        height: 227px;
                        border: 2px dashed #d7d7d7;
                        padding: 1rem 0;
                        cursor: pointer;
                        overflow: hidden;
    
                        img {
                            position: absolute;
                            top : 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
    
                        .image-icon {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 50px;
                            color: #d7d7d7;
                            font-size: 2rem;
                        }
    
                        .upload-text {
                            width: 80%;
                            margin-top: 1rem;
                            text-align: center;

                            p {
                                font-size: 16px;
                                color: #333;
                                font-weight: bold;
                                margin-bottom: 10px;
                            }
    
                            span {
                                font-size: 12px;
                                color: #ff3434;
                                font-weight: 500;
                            }
                        }

                        .refresh-btn {
                            position: absolute;
                            top: 15px;
                            right: 15px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 30px;
                            height: 30px;
                            z-index: 10;
                            background-color: transparent;
                            border: none;
                            transition: all 0.2s ease-in-out;
                            font-size: 30px;

                            svg {
                                fill: #d7d7d7;
                            }

                            &:hover {
                                svg {
                                    fill: #000;
                                }
                            }
                        }
                    }

                    .upload-btn {
                        display: block;
                        width: 100%;
                        text-align: center;
                        line-height: 34px;
                        border: 1px solid #d7d7d7;
                        background: transparent;
                        color: #333;
                        margin-top: 20px;
                        font-weight: bold;
                        transition: all 0.2s ease-in;

                        &:hover {
                            background-color: #000;
                            color: #fff;
                        }
                    }
    
                    input {
                        display: none;
                    }
                }

                .input-box {
                    width: calc(100% - 220px);

                    .form-input{
                        width: 100%;
                        display: flex;
                        gap: 20px;
                        margin-bottom: 30px;
        
                        // 입력 필드명
                        .field-title {
                            width: 300px;
                            max-height: 35px;
                            font-size: 16px;
                            font-weight: bold;
                            line-height: 35px;
        
                            &.required {
                                &::after {
                                    display: inline-block;
                                    content: '*';
                                    color: rgb(209, 53, 53);
                                    margin-left: 8px;
                                }
                            }
                        }
        
                        // 입력 필드 input 요소 & 버튼 wrapper
                        .field-item {
                            position: relative;
                            width: calc(100% - 320px);
                            min-height: 83px;
                            display: flex;
                            align-items: flex-start;
                            justify-content: center;
                            gap: 20px;
        
                            .field-input {
                                display: flex;
                                width: 100%;
                                flex-direction: column;
                                align-items: flex-start;
                                gap: 20px;
        
                                input{
                                    position: relative;
                                    width: 100%;
                                    padding: 10px 20px;
                                    font-size: 14px;
                                    border: 1px solid #d7d7d7;
                                    border-radius: 8px;
                                    max-height: 35px;
            
                                    &:focus{
                                        outline: none;
                                        border: 1px solid rgb(0, 0, 0);
                                    }
                                }
                            }

                            .Valid-errorTxt{
                                position: relative;
                                width: 100%;
                                height: 25px;
        
                                h1{
                                    font-size: 13px;
                                    font-family: $Noto-Korean;
                                    color: rgb(209, 53, 53);
                                    line-height: 135%;
                                }
                            }
        
                            &.id {
                                .field-input {
                                    width: calc(100% - 120px);
                                }
                            }
        
                            .duplicate-check {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width : 100px;
                                height: 35px;
                                border: 1px solid #D7D7D7;
                                background-color: #fff;
                                color: #666;
                                border-radius: 10px;
                                font-family: $Noto-Korean;
                                font-size: 13px;
                                font-weight: bold;
                                cursor: pointer;
                                transition : all 0.3s ease-in;
            
                                &:hover {
                                    background-color: #000;
                                    transition: all 0.3s ease-in;
                                    color: #fff;
                                }
                            }
                        }
        
                        .duplicate-button{
                            display: block;
                            width: 8rem;
                            height: 2.5rem;
                            font-size: 1rem;
                            font-family: $Noto-Korean;
                            background-color: #000;
                            border: none;
                            color: #fff;
                            font-weight: bold;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        .form-footer {
            width: 100%;
            margin-top: 5rem;

            .agree-form {
                .agree-guide {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .desc {
                        font-size: 14px;
                        color: #333;
                    }

                    .select-all {
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        input {
                            width: 14px;
                            height: 14px;
                            border: 1px solid #333;
                        }

                        label {
                            font-size: 14px;
                            cursor: pointer;
                        }
                    }
                }

                .agree-list {
                    margin-top: 30px;
                    .agree-menu {
                        margin: 10px 0;
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        input {
                            width: 14px;
                            height: 14px;
                            border: 1px solid #333;
                        }

                        label {
                            font-size: 14px;
                            cursor: pointer;
                        }
                    }
                }
            }

            .btn-wrap {
                display: flex;
                align-items: center;
                gap: 20px;
                width: max-content;
                margin: 50px auto 0 auto;

                button {
                    padding: 20px 80px;
                    font-size: 16px;
                    font-weight: 500;
                    text-align: center;
                    color: #fff;
                    border: none;
                }

                .sign-button {
                    background-color: var(--colorMain);
                }

                .list-button {
                    background-color: #000;
                }
            }
        }
    }
}

@media screen and (max-width : 1440px){
    .register-container {
        .register-wrap {
            max-width: 100%;
            height: 100%;
            padding: 50px 0;
    
            .register-title {
                position: relative;
                width: 80%;
                margin: 0 auto 30px auto;
                height: 100px;
                padding-left: 20px;
    
                .txt {
                    font-size: 25px;
    
                    &::before {
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        content: '';
                        width: 20%;
                        background-color: var(--colorMain);
                        height: 10px;
                        border-top-left-radius: 5px;
                        border-top-right-radius: 5px;
                    }
                }
            }
    
            // 회원 개인정보 입력 필드 폼
        .info-form{
            position: relative;
            width: 80%;
            margin: 0 auto;
            height: max-content;

            // 입력 필드 대제목
            .form-title{
                width: 100%;
                margin-bottom: 50px;

                h1{
                    line-height: 5rem;
                    font-size: 20px;
                }
            }

            // 입력 필드 wrapper
            .form-input{
                width: 100%;
                display: flex;
                gap: 20px;
                margin-bottom: 30px;

                // 입력 필드명
                .field-title {
                    width: 200px;
                    max-height: 35px;
                    font-size: 16px;
                    font-weight: bold;
                    line-height: 35px;

                    &.required {
                        &::after {
                            display: inline-block;
                            content: '*';
                            color: rgb(209, 53, 53);
                            margin-left: 8px;
                        }
                    }
                }

                // 입력 필드 input 요소 & 버튼 wrapper
                .field-item {
                    position: relative;
                    width: calc(100% - 200px);
                    min-height: 83px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 20px;

                    .field-input {
                        display: flex;
                        align-items: center;
                        width: 100%;

                        &.email {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 20px;
                            justify-content: space-between;
                            width: 100%;

                            .input-wrap {
                                width: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                            }

                            .domain-select {
                                width: 60%;
                            }
                        }
                    }
                }
            }
        }
    
            // 회원 개인정보 입력 필드 폼
            .profile-form {
                width: 80%;
                margin: 0 auto;
    
                .form-title{
                    width: 100%;
                    margin-bottom: 50px;
    
                    h1{
                        line-height: 5rem;
                        font-size: 20px;
                    }
                }
    
                .inner-wrap {
                    display: flex;
                    gap: 50px;
                    align-items: flex-start;
    
                    .upload-image {
                        width: 150px;
        
                        .upload-input {
                            height: 200px;
                        }
                    }
    
                    .input-box {
                        width: calc(100% - 200px);
    
                        .form-input{
                            width: 100%;
                            display: flex;
                            gap: 20px;
                            margin-bottom: 30px;
            
                            // 입력 필드명
                            .field-title {
                                width: 150px;
                            }
            
                            // 입력 필드 input 요소 & 버튼 wrapper
                            .field-item {
                                width: calc(100% - 150px);
            
                                .field-input {
                                    width: 100%;
            
                                    input{
                                        position: relative;
                                        width: 100%;
                                        padding: 10px 20px;
                                        font-size: 14px;
                                        border: 1px solid #d7d7d7;
                                        border-radius: 8px;
                                        max-height: 35px;
                
                                        &:focus{
                                            outline: none;
                                            border: 1px solid rgb(0, 0, 0);
                                        }
                                    }
            
                                    .Valid-errorTxt{
                                        position: relative;
                                        width: 100%;
                                        height: 25px;
                                        margin-top: 10px;
                
                                        h1{
                                            font-size: 13px;
                                            font-family: $Noto-Korean;
                                            color: rgb(209, 53, 53);
                                            line-height: 135%;
                                        }
                                    }
                                }
            
                                &.id {
                                    .field-input {
                                        width: calc(100% - 120px);
                                    }
                                }
                            }
            
                            .duplicate-button{
                                display: block;
                                width: 8rem;
                                height: 2.5rem;
                                font-size: 1rem;
                                font-family: $Noto-Korean;
                                background-color: #000;
                                border: none;
                                color: #fff;
                                font-weight: bold;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
    
            .form-footer {
                width: 80%;
                margin: 50px auto 0 auto;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .register-container {
        .register-wrap {
            margin: 0 auto;
            max-width: 100%;
            padding: 50px 20px;
    
            .register-title {
                position: relative;
                width: 100%;
                height: 100px;
                margin-bottom: 30px;
                padding-left: 0;
    
                .txt {
                    width: max-content;
                    font-size: 23px;
                    text-transform: uppercase;
                    line-height: 100px;
                    text-align: center;
                    color: var(--colorMain);
                }
            }
    
            // 회원 개인정보 입력 필드 폼
            .info-form{
                position: relative;
                width: 100%;
                height: max-content;
    
                // 입력 필드 대제목
                .form-title{
                    width: 100%;
                    margin-bottom: 30px;
    
                    h1{
                        line-height: 135%;
                        font-size: 16px;
                    }
                }
    
                // 입력 필드 wrapper
                .form-input{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    margin-bottom: 30px;
    
                    // 입력 필드명
                    .field-title {
                        width: 150px;
                        height: 40px;
                        font-size: 13px;
                        font-weight: bold;
                        line-height: 35px;
                    }
    
                    // 입력 필드 input 요소 & 버튼 wrapper
                    .field-item {
                        position: relative;
                        width: 100%;
                        min-height: 83px;
                        gap: 20px;
    
                        .field-input {
                            display: flex;
                            align-items: center;
                            width: 100%;
    
                            // 입력 input 공통 스타일 적용
                            input{
                                padding: 10px 20px;
                                font-size: 12px;
                                max-height: max-content;
                            }
    
                            &.email {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                width: 100%;
    
                                .input-wrap {
                                    width: 100%;
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
    
                                    .id {
                                        width: 40%;
                                        height: 100%;
                                    }
            
                                    .domain {
                                        width: 50%;
                                        height: 100%;
                                    }
                                }
    
                                .domain-select {
                                    width: 100%;
                                    height: 35px;
                                }
                            }
                        }
                    }
                }
            }
    
            // 회원 개인정보 입력 필드 폼
            .profile-form {
                position: relative;
                width: 100%;
                height: max-content;
    
                .form-title{
                    width: 100%;
                    margin-bottom: 30px;
    
                    h1{
                        line-height: 135%;
                        font-size: 16px;
                    }
                }
    
                .inner-wrap {
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                    align-items: center;
    
                    .upload-image {
                        width: 200px;
        
                        .upload-input {
                            height: 220px;
                        }
                    }
    
                    .input-box {
                        width: 100%;
    
                        .form-input{
                            width: 100%;
                            display: flex;
                            gap: 20px;
                            margin-bottom: 30px;
            
                            // 입력 필드명
                            .field-title {
                                width: 150px;
                                max-height: 35px;
                                font-size: 13px;
                            }
            
                            // 입력 필드 input 요소 & 버튼 wrapper
                            .field-item {
                                position: relative;
                                width: calc(100% - 150px);
                                min-height: 83px;
                                display: flex;
                                align-items: flex-start;
                                justify-content: center;
                                gap: 20px;
            
                                .field-input {
                                    width: 100%;
                                    gap: 10px;
            
                                    input{
                                        position: relative;
                                        width: 100%;
                                        padding: 10px 20px;
                                        font-size: 14px;
                                        border: 1px solid #d7d7d7;
                                        border-radius: 8px;
                                        max-height: 35px;
                
                                        &:focus{
                                            outline: none;
                                            border: 1px solid rgb(0, 0, 0);
                                        }
                                    }

                                    .Valid-errorTxt{
                                        position: relative;
                                        width: 100%;
                                        height: 25px;
                
                                        h1{
                                            font-size: 10px;
                                            font-family: $Noto-Korean;
                                            color: rgb(209, 53, 53);
                                            line-height: 135%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
    
            .form-footer {
                width: 100%;
                margin-top: 5rem;
    
                .agree-form {
                    .agree-guide {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 20px;
                        justify-content: initial;
    
                        .desc {
                            word-break: keep-all;
                            font-size: 14px;
                            color: #333;
                        }
    
                        .select-all {
                            display: flex;
                            align-items: center;
                            gap: 10px;
    
                            input {
                                width: 14px;
                                height: 14px;
                                border: 1px solid #333;
                            }
    
                            label {
                                font-size: 14px;
                                cursor: pointer;
                            }
                        }
                    }
    
                    .agree-list {
                        margin-top: 30px;
                        
                        .agree-menu {
                            margin: 10px 0;
                            display: flex;
                            align-items: center;
                            gap: 10px;
    
                            input {
                                width: 14px;
                                height: 14px;
                                border: 1px solid #333;
                            }
    
                            label {
                                font-size: 14px;
                                cursor: pointer;
                            }
                        }
                    }
                }
    
                .btn-wrap {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    width: max-content;
                    margin: 50px auto 0 auto;
    
                    button {
                        width: 150px;
                        padding: 15px 10px;
                        font-size: 16px;
                        font-weight: 500;
                        text-align: center;
                        color: #fff;
                        border: none;
                    }
                }
            }
        }
    }
}