@import "app/globals.scss";

.SeasonPeed-container{
    position: relative;
    width: 100%;
    height: max-content;
    padding: 3.125rem 6.25rem;

    .SeasonPeed-titleBox{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: calc(25rem * 4 + 150px);
        height: 5rem;
        margin-bottom: 3rem;

        .SeasonPeed-title{
            width: 80%;
            height: 5rem;

            h1{
                line-height: 5rem;
                font-size: 2rem;
                font-family: $Raleway-font;
                text-transform: uppercase;
            }
        }

        .slide-control{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 15%;
            height: 5rem;

            
            .slide-prev{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 4rem;
                height: 2rem;
                z-index: 10;
                cursor: pointer;
            }
        
            .slide-next{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 4rem;
                height: 2rem;
                z-index: 10;
                cursor: pointer;
            }
        }
    }

    .SeasonPeed-slider{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: calc(25rem * 4 + 150px);
        transform: translateX();
        height: 43rem;
        overflow-x: scroll;

        &::-webkit-scrollbar{
            display: none;
        }

        .slide-wrap{
            position: absolute;
            left: 0;
            top: 0;
            width: max-content;
            height: 100%;
            display: inline-flex;

            .slide-item{
                position: relative;
                width: 25rem;
                height: 100%;
                margin-right: 50px;

                .product-imgBox{
                    position: relative;
                    width: 100%;
                    height: 30rem;

                    img{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .product-info{
                    width: 100%;
                    height: 10rem;
                    font-family: $Noto-Korean;
                    margin-top: 1rem;

                    .product-name{
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        width: 100%;
                        height: 4rem;

                        h2{
                            font-size: 15px;
                            font-weight: 500;
                        }
                    }

                    .product-brand{
                        width: 100%;
                        height: 3rem;

                        p{
                            line-height: 3rem;
                            font-size: 13px;
                        }
                    }

                    .product-price{
                        width: 100%;
                        height: 3rem;

                        span{
                            line-height: 3rem;
                            font-size: 15px;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}