@import "app/globals.scss";

.SeasonPeed-container{
    position: relative;
    width: 100%;
    height: max-content;
    padding: 3.125rem 6.25rem;

    .SeasonPeed-title{
        width: 100%;
        height: 5rem;
        margin-bottom: 3rem;

        h1{
            line-height: 5rem;
            font-size: 2rem;
            font-family: $Raleway-font;
            text-align: center;
            text-transform: uppercase;
        }
    }

    .SeasonPeed-slider{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: calc(25rem * 4 + 150px);
        height: 43rem;
        overflow: hidden;

        .slide-wrap{
            position: absolute;
            left: 0;
            top: 0;
            width: max-content;
            height: 100%;
            display: inline-flex;

            .slide-item{
                position: relative;
                width: 25rem;
                height: 100%;
                margin-right: 50px;

                .product-imgBox{
                    position: relative;
                    width: 100%;
                    height: 30rem;

                    img{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .product-info{
                    width: 100%;
                    height: 13rem;
                    font-family: $Noto-Korean;

                    .product-name{
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        width: 100%;
                        height: 4rem;
                        margin: 1rem 0;

                        h2{
                            font-size: 15px;
                            font-weight: 500;
                        }
                    }

                    .product-brand{
                        width: 100%;
                        height: 4rem;

                        p{
                            line-height: 4rem;
                            font-size: 13px;
                        }
                    }

                    .product-price{
                        width: 100%;
                        height: 3rem;

                        span{
                            line-height: 3rem;
                            font-size: 15px;
                            font-weight: bold;
                        }
                    }
                }
            }
        }

        .slide-prev{
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            display: flex;
            align-items: center;
            justify-content: center;
            width: 5rem;
            height: 5rem;
            z-index: 10;
            background-color: rgba($color: #000000, $alpha: 0.5);
            cursor: pointer;
        }
    
        .slide-next{
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            display: flex;
            align-items: center;
            justify-content: center;
            width: 5rem;
            height: 5rem;
            z-index: 10;
            background-color: rgba($color: #000000, $alpha: 0.5);
            cursor: pointer;
        }
    }
}