@import "app/globals.scss";

.shop-container{
    position: relative;
    width: 100%;
    height: 100%;

    .wrap{
        margin : 0 auto;
        max-width : 1400px;

        .productList-container{

            .List-tabMenu{
                margin-top: 2rem;
                width: 100%;
                height: 8rem;
                padding: 0 15px;

                .tabMenu-title{
                    width: 100%;

                    .default-title{
                        font-family: $Jamsil-font;
                        font-size: 1.5rem;
                        line-height: 5rem;
                        text-transform: uppercase;
                        text-align: center;
                        font-weight : bold;
                    }
                }

                .product-count{
                    position: relative;
                    width: 100%;

                    span{
                        position: absolute;
                        right: 0;
                        line-height: 3rem;
                        font-family: $Jamsil-font;
                        font-weight: 400;
                        font-size: 1rem;
                    }
                }
            }

            .product-Box{
                margin: 5rem 0;

                .all-product {
                    margin : 0 -15px;

                    .product-item{
                        display: inline-block;
                        margin: 0 15px;
                        width: 256px !important;
                        height: 30rem;
    
                        .product-image{
                            position: relative;
                            width: 100%;
                            height: 20rem;
                            overflow: hidden;
    
                            img{
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
    
                        .product-content{
                            position: relative;
                            width: 100%;
                            height: 10rem;
                            font-family: $Jamsil-font;
    
                            .product-title{
                                width: 80%;
                                height: 3rem;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                font-size: 13px;
                                font-weight: 400;
                            }
    
                            .product-mall{
                                width: 100%;
                                line-height: 3rem;
                                font-size: 12px;
                                font-weight: 500;
                                text-transform: uppercase;
                            }
    
                            .product-price{
                                width: 100%;
                                line-height: 4rem;
                                font-weight: 700;
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width : 1440px) and (max-width : 1900px) {
    .shop-container{
    
        .wrap{
            margin : 0 auto;
            max-width : 1350px;
    
            .productList-container{
    
                .product-Box{
    
                    .all-product {
                        margin : 0 -15px;
    
                        .product-item{
                            display: inline-block;
                            margin: 0 15px;
                            width: 240px !important;
                        }
                    }
                }
            }
        }
    }
}

/*모바일 ~ 소형 테블릿 반응형*/
@media screen and (max-width : 768px){
    .shop-container{
    
        .wrap{
            margin : 0 auto;
            max-width : 100%;
    
            .productList-container{

                .List-tabMenu{
    
                    .tabMenu-title{
    
                        .default-title{
                            font-size: 1.2rem;
                        }
                    }
    
                    .product-count{
    
                        span{
                            font-size: 14px;
                        }
                    }
                }
    
                .product-Box{
    
                    .all-product {
                        margin : 0;
    
                        .product-item{
                            display: inline-block;
                            margin: 0;
                            width: 50% !important;
                            height: 25rem;
                            padding: 1rem;
        
                            .product-image{
                                position: relative;
                                width: 100%;
                                height: 15rem;
                                overflow: hidden;
        
                                img{
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }
        
                            .product-content{
                                position: relative;
                                width: 100%;
                                height: 10rem;
                                font-family: $Jamsil-font;
        
                                .product-title{
                                    width: 80%;
                                    height: 3rem;
                                    white-space: nowrap;
                                    text-overflow: ellipsis;
                                    overflow: hidden;
                                    font-size: 13px;
                                    font-weight: 400;
                                }
        
                                .product-mall{
                                    width: 100%;
                                    line-height: 3rem;
                                    font-size: 12px;
                                    font-weight: 500;
                                    text-transform: uppercase;
                                }
        
                                .product-price{
                                    width: 100%;
                                    line-height: 4rem;
                                    font-weight: 700;
                                    font-size: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}