@import "app/globals.scss";

.Trend-container{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 6.25rem 0;

    .TrendChannel-container{
        position: relative;
        width: 100%;
        height: 42rem;

        .Channel-wrap{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;

            .Channel-imgBox{
                position: relative;
                width: 35rem;
                height: 100%;

                img{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .Channel-infoBox{
                width: 50rem;
                height: 100%;
                padding: 0 6rem;

                .Category{
                    width: 100%;
                    height: 3rem;
                    
                    span{
                        font-family: $Noto-Korean;
                        font-size: 13px;
                        font-weight: bold;
                        text-transform: uppercase;
                    }
                    
                }

                .Channel-name{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 20rem;
                    height: 6rem;
                    margin-top: 2rem;

                    .icon{
                        font-size: 2.5rem;
                    }

                    h1{
                        font-size: 1.5rem;
                        font-family: $Noto-Korean;
                        line-height: 6rem;
                    }
                }

                .Channel-subscribe{
                    width: 20rem;
                    height: 3rem;
                    margin-top: 3rem;
                    font-family: $Noto-Korean;

                    .subscribe-title{
                        display: inline-block;
                        width: 10rem;

                        h2{
                            font-size: 13px;
                            line-height: 3rem;
                        }
                    }

                    .subscribe-count{
                        display: inline-block;
                        width: 10rem;

                        span{
                            font-size: 13px;
                            line-height: 3rem;
                        }
                    }
                }

                .Channel-info{
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    width: 60%;
                    height: 16rem;

                    p{
                        font-size: 12px;
                        font-family: $Noto-Korean;
                    }
                }

                .viewChannel-button{
                    display: block;
                    width: 100%;
                    border: none;
                    color: #fff;
                    font-family: $Noto-Korean;
                    cursor: pointer;
                    font-weight: bold;
                    font-size: 14px;
                    margin-top: 5rem;
                    text-align: center;
                    line-height: 3.5rem;
                }
            }
        }
    }

    .TrendVideo-container{
        position: relative;
        width: 100%;
        height: 100%;
        padding: 6.25rem 5rem;

        .TrendVideo-titleBox{
            width: 100%;
            
            h2{
                line-height: 6.25rem;
                font-size: 1rem;
                font-family: $Noto-Korean;
            }
        }

        .Trend-videoList{
            position: relative;
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap : 3.125rem;

            .Trend-video{
                position: relative;
                width: 25rem;
                height: 100%;
                overflow: hidden;

                .video-thumbnail{
                    position: relative;
                    width: 100%;
                    height: 13rem;
                    cursor : pointer;
                    background-color: #000;

                    img{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .video-infoBox{
                    position: relative;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    width: 100%;
                    height: 10rem;
                    padding: 1rem 0;

                    .channel-img {
                        position: relative;
                        width: 2.5rem;
                        height: 2.5rem;
                        overflow: hidden;
                        border-radius: 50%;

                        img {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .title-channel {
                        position: relative;
                        width: 80%;
                        height: 100%;

                        .video-title{
                            width: 100%;
                            height : 3rem;
                            cursor: pointer;
                            
    
                            h2{
                                font-size: 14px;
                                font-family: $Noto-Korean;
                                font-weight: 400;
                            }
                        }
    
                        .video-channel{
                            width: 100%;
                            margin-top: 1rem;
                            cursor: pointer;
    
                            span{
                                line-height: 3rem;
                                font-size: 10px;
                                font-family: $Noto-Korean;
                                color : #606060;
                            }
                        }
                    }
                }
            }
        }

        .loadData{
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
            content: '';

            .Skeleton-videoList{
                position: relative;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap : 3.125rem;
            }
        }
    }
}

@media screen and (max-width : 768px) {
    .Trend-container{
        padding: 0;
    
        .TrendChannel-container{
            position: relative;
            width: 100%;
            height: 54rem;
    
            .Channel-wrap{
                flex-direction: column;
    
                .Channel-imgBox{
                    position: relative;
                    width: 100%;
                    height: 25rem;
                }
    
                .Channel-infoBox{
                    width: 100%;
                    height: 29rem;
                    padding: 2rem 3rem;
    
                    .Category{
                        width: 100%;
                        height: 2rem;
                        
                        span{
                            font-size: 12px;
                            font-weight: bold;
                            line-height: 2rem;
                        }
                        
                    }
    
                    .Channel-name{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 80%;
                        height: 3rem;
                        margin-top: 2rem;
    
                        .icon{
                            font-size: 1.8rem;
                        }
    
                        h1{
                            font-size: 1.2rem;
                            font-family: $Noto-Korean;
                            line-height: 5rem;
                        }
                    }
    
                    .Channel-subscribe{
                        width: 100%;
                        height: 3rem;
                        margin-top: 2rem;
                        font-family: $Noto-Korean;
    
                        .subscribe-title{
                            display: inline-block;
                            width: 40%;
    
                            h2{
                                font-size: 12px;
                                line-height: 3rem;
                            }
                        }
    
                        .subscribe-count{
                            display: inline-block;
                            width: 60%;
    
                            span{
                                font-size: 12px;
                                line-height: 3rem;
                            }
                        }
                    }
    
                    .Channel-info{
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        width: 100%;
                        height: 7rem;
                        margin-top: 1rem;
    
                        p{
                            font-size: 10px;
                            font-family: $Noto-Korean;
                        }
                    }
    
                    .viewChannel-button{
                        display: block;
                        width: 100%;
                        background-color: #000;
                        border: none;
                        color: #fff;
                        font-family: $Noto-Korean;
                        cursor: pointer;
                        font-weight: bold;
                        font-size: 12px;
                        margin-top: 2rem;
                        text-align: center;
                        line-height: 3rem;
                    }
                }
            }
        }
    
        .TrendVideo-container{
            padding: 2rem 0;
    
            .TrendVideo-titleBox{
                padding: 0 1rem;
                
                h2{
                    font-size: 12px;
                }
            }
    
            .Trend-videoList{
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                gap : 2rem;
    
                .Trend-video{
                    width : 100%;
    
                    .video-thumbnail{
                        height: 15rem;
                    }
    
                    .video-infoBox{
                        align-items: center;
                        width: 100%;
                        height: 7rem;
                        padding: 1rem;
    
                        .title-channel {
    
                            .video-title{
                                
        
                                h2{
                                    font-size: 12px;
                                }
                            }
        
                            .video-channel{
                                margin-top: 0;
        
                                span{
                                    line-height: 2rem;
                                    font-size: 10px;
                                }
                            }
                        }
                    }
                }
            }
    
            .loadData{
                height: 25rem;
                padding: 2rem 0;
            }
        }
    }
}